# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_SERVICE_KEY=

# NOWPayments
NOWPAYMENTS_API_KEY=
NOWPAYMENTS_PUBLIC_KEY=
NOWPAYMENTS_IPN_SECRET=zY6DkA8tK4M3lqU+eSJJHz9ixNFnH57H

# App Configuration
APP_URL=
PORT=3000
NODE_ENV=development
